body{
    background-color: #E9EBEC;
    margin-top: 20px;
}

#HEADER{
    height: 200px;
    width: 1000px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

#UNIMOL_LOGO img{
    height: 100px;
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: auto;
    float: left;
}

#PROFILES_LOGO img{
    height: 100px;
    width: auto;
    margin-top: 25px;
    margin-bottom: auto;
    float: right;
}

#TITOLO_PAGINA{
    background-color: #0369D2;
    height: 45px;
    width: 950px;
    text-align: center;
    font-family: Cordia New;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
    line-height: 45px;
}